.~behavior.vue
.~capture and samples.vue
.~demography and life history.vue
.~derived structures and variables.vue
.~ecology and environment.vue
.~fullmap.vue
.~labwork.vue
.~mastermap.vue
.~researcher and logistics.vue
.~universal.vue